html,
body {
  overflow: hidden;
  height: 100%
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cover {
  z-index: 10 !important;
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.header-logo svg {
  margin-right: 15px;
}

.app-version {
  font-size: 9px;
  position: absolute;
  bottom: -10px;
  left: 0;
}

main {
  display: flex;
  align-items: center;
  flex: 1
}

#main-container {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90%;
}

.coords-textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px;
  margin: 50px 0 25px;
}

.path-btn,
.submit-btn {
  width: 100%;
  border-radius: 0 !important;
  height: 50px;
  min-height: 50px;
}

.inject-btn {
  width: 30px;
  border-radius: 0 !important;
  height: 50px;
  min-height: 50px;
}

.path-btn.selected {
  background: #31529e !important;
}

.MuiToolbar-regular {
  display: flex;
  justify-content: space-between;
}

.notification-snack {
  margin-bottom: 20px;
  margin-top: -30px;
  z-index: 10;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.info-title h2 {
  font-size: 30px !important;
}

.info-title svg {
  font-size: 40px;
  cursor: pointer;
}


.slider-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 25px;
}

.slider-icon {
  margin-right: 15px;
  color: #4791db;
}

.is-hidden {
  display: none;
}

.floating-icon {
  margin-right: 15px !important;
}


@media (max-width: 600px) {
  .coords-textarea {
    margin: 0;
    border: none;
  }

  #main-container {
    max-height: 100%;
  }

  .mobile-hidden {
    display: none;
  }

  .notification-snack {
    margin: 0;
  }

  .btn-group {
    margin: 2px 0;
  }

  .slider-group {
    margin-bottom: 0;
  }

  .floating-icon {
    position: absolute !important;
    top: 65px;
    right: 11px;
    margin-right: 0 !important;
    width: 40px !important;
    height: 40px !important;
  }

  .info-dialog .MuiDialog-paper {
    margin: 0;
    max-height: 100%;
  }

}